*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ; margin: 0;
}
body{background-color: rgb(252, 249, 115)
;margin: 10px;
text-align: justify;
}
h1{
    color: rgb(0, 0, 0);
  text-align: center;}
h2{
    color: rgb(99, 11, 11);
    margin-bottom: 20px; margin-top: 20px;
    background-color: darkgoldenrod;
    text-align: center;
  }
h3{
color: rgb(170, 0, 0);
padding-top: 10px;
}
  form{
    padding: 10px;
  }
  #flogin{background-color: cornflowerblue;}

  #fregistro{background-color: darkgoldenrod;}

  #cabecera{
      background-color: rgb(138, 129, 76); padding: 30px;
  }
  #menu{background-color: darkgoldenrod;; padding: 10px;}

  /*Estilos de enlaces*/

  a{ 
    /*Quita estilos*/
    text-decoration: none; color: rgb(136, 65, 65);}
    
  a:hover{
    color: blue;
  }
  #contenido{
     padding: 10px;
  }

  img{
    width: 75%;
    height: auto;
    border: 2px solid #333;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #paginas{
 background-color:  rgb(252, 249, 115); 
 border: 3px solid rgb(0, 0, 0);width: 98%;
 text-align: justify;
  }
  
  table{background-color: rgb(136, 65, 65);
    text-align: center; 
  width: 40%;;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;}